@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    background-image: url('../img/design1_image1.jpg');
    background-size: cover;
    background-position-y: -30px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

/* Header */

header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: rgba(51, 51, 51, 0.8)
}

header .top {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}

header .logo {
    margin: 0 30px;
    width: 100px;
    z-index: 20;
}

header .logo:hover {
    scale: 1.1;
    transition: 1s;
}

header h1 {
    width: fit-content;
    font-family: 'Comic Neue', cursive;
    font-size: 3em;
    text-shadow: 2px 2px 5px white;
}

main h2 {
    width: 100%;
    background-color: rgba(40, 55, 215, 0.8);
    color: white;
    margin: 0 0 10px;
    padding: 10px 20px;
    z-index: 10;
}

/* Nav */

nav {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 30px;
}

nav a {
    text-decoration: none;
    display: inline-block;
    width: 12%;
    border-radius: 5px;
    padding: 8px 0;
    text-align: center;
    font-weight: 600;
    color: white;
    background-color: rgb(40, 55, 215);
    box-shadow: 5px 5px 20px 1px gray;
}

nav a:hover {
    background-color: rgb(48, 65, 249);
    box-shadow: 1px 1px 20px 1px rgb(48, 65, 249);
    scale: 1.05;
    transition: 500ms;
}

.active {
    text-decoration: none;
    color: rgb(48, 65, 249);
    background-color: white;
    box-shadow: 1px 1px 20px 1px rgb(48, 65, 249);
    scale: 1.05;
}

.active:hover {
    color: rgb(48, 65, 249);
    background-color: white;
}


/* Main */

main {
    margin: 0 15%;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.2);
}

main article {
    background-color: rgba(213, 213, 213, 0.6);
    padding: 10px;
    margin-bottom: 10px;
}

main article:hover {
    background-color: rgb(255, 255, 255);
    scale: 1.01;
    transition: 300ms;
}

main article h3 {
    color: rgb(40, 55, 215);
    font-size: 1.5em;
}

main article p {
    text-indent: 15px;
    font-size: 1.2em;
    margin: 5px 0;
}

/* Rules: estilos especificos de rules.html */
main .center {
    text-align: center;
}

main .bold {
    font-weight: bold;
}

.rules section {
    margin-bottom: 20px;
}

.rules h4 {
    font-size: 1.2em;
    margin: 10px 0;

}

.rules p {
    margin: 0px
}

.rules li {
    margin-left: 30px;
}

/* Table */

table{
    width: 80%;
    margin: 20px 0;
    border: 1px solid rgb(40, 55, 215);
    background-color: rgb(40, 55, 215);
}

table td{
    background-color: white;
    border: 1px solid rgb(40, 55, 215);
}

th{
    color: white;
    background-color: rgb(40, 55, 215);
}

/* Maps */

main article.maps{
    background-color: white;
}

main article.maps:hover{
    scale: 1;
}

main article .maps-container{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

main article .map{
    border: 1px solid red;
    filter: grayscale(100%);
    margin: 10px 20px;
}
main article .map:hover{
    scale: 1.1;
    filter: grayscale(0);
    transition: 0.5s;
}


/* Form */

form{
    background-color: white;
    padding: 10px
}

form fieldset{
    margin: 15px 5px;
    padding: 10px;
}

form legend{
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 5px;
}
form input[type=checkbox]{
    margin-right: 20px;
}
form input[type=radio]{
    margin-right: 20px;
}

form .button-container{
    margin: 5px 100px;
    display: flex;
    justify-content: space-around;
}

form button{
    padding: 10px;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 1.5px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send{
    background-color: rgb(52, 220, 52);
}

#send:hover{
    background-color: rgb(74, 233, 74);
}
#clean{
    background-color: rgb(243, 67, 67);
}
#clean:hover{
    background-color: rgb(244, 88, 88);
}


/* Gallery */

.gallery{
    border: 2px solid black;
    width: 90vw;
    padding: 20px 0;
    height: auto;
    display: flex;
    justify-content: center;
    flex-flow: row  wrap;
    gap: 20px
}

.img-container{
    width: calc(33% - 40px);
    height: 300px;
    background-color: rgba(213, 213, 213, 0.6);
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.img-gallery{
    width: 90%;
    margin-left: 5%;
    filter: grayscale(100%);

}

.img-gallery:hover{
    filter: grayscale(0);
    scale: 1.1;
    z-index: 10;
    transition: 1s;
}

